@media (min-width: 1px) and (max-width: 1080px){
  body {
    font-family: Arial, sans-serif; /* todos os texto estão em ARIAL */
    background-color: #333; /* cor de fundo está branco */
    color: white; /* cor da fonte está escuro */
  }

  header {
    background: linear-gradient(45deg, #ae6027, #a37b5e); 
    background-color: #ae6027; 
    text-align: center; 
    color: white; 
  }

  .head {
    font-size: 50px;
    background: linear-gradient(45deg, #ae6027, #a37b5e);
    background-color: linear-gradient(45deg, #ae6027, #a37b5e);
    color: white;
    text-align: center;
  }

  .head span{
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 100px;
  }

  nav ul {
    list-style-type: none; /* o estilo da lista está vazia */
    padding: 0;
    display: flex;
    justify-content: center; /* o conteudo justificado está centralizado */
    flex-wrap: wrap;
  }

  nav ul li {
    margin: 0 1rem; /* o margin esta com 1rem */
  }

  nav ul li a {
    color: white; /* cor da fonte está branco */
    text-decoration: none; /* os textos está sem decoração */
    font-weight: bold; /* os textos está em negrito */
  }

  nav ul li a:hover {
    text-decoration: underline; /* os textos está com underline */
  }

  .hero {
    background-color: #333; /* Colocando cor de fundo */
    font-family: "Monsieur La Doulaise", cursive;
    background-image: url(imagens/salao.png); /*Colocando imagem*/
    background-size: cover; /* Prechendo a imagem */
    background-position: center; /* Posição da imagem */
    height: 200px; /* A altura está 200px */
    width: 92%; /* A largura está 100 porcento */
    display: flex; /* display está como flex */
    align-items: center; /* O alinhamento dos itens está centralizado */
    justify-content: center; /* os conteudos tá justificado */
    color: white; /* cor da fonte está branco */
    text-align: center; /* o alinhamento dos textos tá centralizado */
  }

  .hero h1 {
    font-size: 5rem; /* tamanho da fonte tá 3rem */
    margin: 0;
  }

  .services {
    width: 100%; 
    display: table;
    color: white;
    transition: 0.5s;
    transition-duration: 0.5s;
  }

  .corte, .color, .mani, .capilar {
    background-size: cover; /* prechendo a imagem */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    transition-duration: 0.5s;
    width: 85%;
    display: table;
    margin-top: 10px;
    margin-left: 0px;
  }

  .corte {
    background-image: url(imagens/corte.png);
  }

  .color {
    background-image: url(imagens/pintar.png); /* colocando imagem */
  }

  .mani {
    background-image: url(imagens/manicure.png);
  }

  .capilar {
    background-image: url(imagens/massagem.png);
  }

  .corte:hover, .color:hover, .mani:hover, .capilar:hover {
    cursor: pointer;
    size-adjust: 120%;
    color: #8b4513;
    background-size: 120%;
    box-sizing: 120%;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(139, 69, 19, 0.5);
    box-sizing: 120%;
    transition: 0.5s;
  }

  form {
    display: grid;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
  }

  input,
  textarea,
  button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
  }

  textarea {
    resize: none;
    font-family: 'Courier New', Courier, monospace;
  }

  button {
    background-color: #8b4513;
    color: white;
    cursor: pointer;
  }

  span {
    font-weight: bold;
  }

  .horario {
    line-height: 0;
    font-style: italic;
    width: 40%;
  }

  .mapa-container {
    clear: none;
    margin: 5em;
  }

  iframe {
    width: 80%;
  }

  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }

  .hero h1 {
    font-size: 2rem;
    }

  nav ul {
    flex-direction: column;
    }

  .slide {
      width: auto;
      flex-shrink: 0;
      cursor: pointer;
      border-radius: 50%;
      justify-content: center;
  }

  .slide img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      justify-content: center;
  }

  #navbar {
    background: linear-gradient(45deg, #ae6027, #a37b5e); /* a cor de fundo tá com gradiante com a cor ae6027, a37b5e */
    overflow: hidden;
    position: sticky;
    top: -68px;
    height: 150px;
    width: 99%;
    display: block;
    transition: top 0.3s;
    padding-bottom: 1px;
    transition-duration: top 0.3s;
  }

  .novo {
    position: absolute;
    left: 0;
    top: 50px;
  }

  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    padding-bottom: 4px;
    transition-duration: top 0.4s;
    transition: 0.4s;
  }

  #navbar p{
    font-size: xx-large;
    float: right;
    color: #333;
    font-family: "Monsieur La Doulaise", cursive;
    display: inline;
    margin-top: 3px;
    margin-right: 20px;
    transition-duration: top 0.4s;
    transition: 0.4s;
  }

  #navbar a:hover {
    background-color: white;
    border-radius: 10px;
    color: #ae6027;
    padding-bottom: 15px;
    margin: 2px;
    transition: 0.4s;
    box-shadow: 0 0 30px rgba(199, 69, 19, 0.7);
    transition-duration: top 0.4s;
  }

  .sobre {
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
  }

  .desc {
    text-align: justify; 
    max-width: 95%;
    text-align-last: center;
    margin: 0 auto;
  }

  .env:hover{
    box-shadow: 0 0 30px rgba(199, 69, 19, 0.7);
    transition: 0.3s;
  }
}