.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif; /* todos os texto estão em ARIAL */
  margin: 0; 
  padding: 0; 
  background-color: #f4f4f4; /* cor de fundo está branco */
  color: #333; /* cor da fonte está escuro */
}

header {
  background: linear-gradient(45deg, #ae6027, #a37b5e); /* a cor de fundo tá com gradiante com a cor ae6027, a37b5e */
  background-color: #ae6027; /* Marrom elegante para cabeleireiro */
  padding: 16px; /* a altura está com 15cap */
  overflow: hidden;
  text-align: center; /* os texto está centralizado */
  color: white; /* cor da fonte está branco */
}

.head {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  overflow: hidden;
  font-size: 50px; /* o tamanho dos texto está 50px */
  background: linear-gradient(45deg, #ae6027, #a37b5e);
  background-color: linear-gradient(45deg, #ae6027, #a37b5e);
  color: white;
  text-align: center;
}

.head span{
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 100px;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

nav ul {
  list-style-type: none; /* o estilo da lista está vazia */
  padding: 0;
  display: flex;
  justify-content: center; /* o conteudo justificado está centralizado */
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 1rem; /* o margin esta com 1rem */
}

nav ul li a {
  color: white; /* cor da fonte está branco */
  text-decoration: none; /* os textos está sem decoração */
  font-weight: bold; /* os textos está em negrito */
}

nav ul li a:hover {
  text-decoration: underline; /* os textos está com underline */
}

.hero {
  background-color: #333; /* Colocando cor de fundo */
  font-family: "Monsieur La Doulaise", cursive;
  background-image: url(imagens/salao.png); /*Colocando imagem*/
  background-size: cover; /* Prechendo a imagem */
  background-position: center; /* Posição da imagem */
  height: 200px; /* A altura está 200px */
  width: 95%; /* A largura está 100 porcento */
  display: flex; /* display está como flex */
  align-items: center; /* O alinhamento dos itens está centralizado */
  justify-content: center; /* os conteudos tá justificado */
  color: white; /* cor da fonte está branco */
  text-align: center; /* o alinhamento dos textos tá centralizado */
}

.hero h1 {
  font-size: 5rem; /* tamanho da fonte tá 3rem */
  margin: 0;
}

section {
  padding: 2rem;
  margin-left: 0px;
}

.services {
  padding-top: 1px;
  display: flex;
  grid-template-columns: subgrid (auto-fit, minmax(100px, 1fr));
  grid-template-columns: none;
  gap: 1rem;
  margin-left: 32px;
  margin-right: 32px;
  color: white; /* a cor da fonte tá branco */
  transition: 0.5s;
  transition-duration: 0.5s;
}

.corte, .color, .mani, .capilar {
  background-size: cover; /* prechendo a imagem */
  padding: auto;
  width: 30%;
  height: 150px;
  border-radius: 8px; /* a borda está com 8px de suave */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; /* alinhamento dos textos tá centralizado */
  transition: 0.5s;
  transition-duration: 0.5s;
}

.corte {
  background-image: url(imagens/corte.png);
}

.color {
  background-image: url(imagens/pintar.png); /* colocando imagem */
}

.mani {
  background-image: url(imagens/manicure.png);
}

.capilar {
  background-image: url(imagens/massagem.png);
}

.corte:hover, .color:hover, .mani:hover, .capilar:hover {
  cursor: pointer;
  size-adjust: 120%;
  color: #8b4513;
  background-size: 120%;
  box-sizing: 120%;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(139, 69, 19, 0.5);
  box-sizing: 120%;
  transition: 0.5s;
}

form {
  display: grid;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

input,
textarea,
button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
}

textarea {
  resize: none;
  font-family: 'Courier New', Courier, monospace;
}

button {
  background-color: #8b4513;
  color: white;
  cursor: pointer;
}

span {
  font-weight: bold;
}

.horario {
  line-height: 0;
  font-style: italic;
  float: left;
  width: 40%;
}

.mapa-container {
  clear: none;
  margin: 0em;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.horario p {
  display: flex;
  justify-content: space-between;
  align-items: right;
  text-align: center;
}

.marque {
  text-align: right;
}

#marque {
  text-align: center;
  margin: auto;
  width: 50%;
  padding-bottom: 1%;
  padding-left: 25%;
}

.horario .dia {
  flex: 1;
  text-align: left;
}

.horario .hora {
  flex: 1;
  line-height: 0.5;
  text-align: right;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
  nav ul {
    flex-direction: column;
  }
}

.slide {
    width: 100%;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50%;
}

.slide img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Oculta slides por padrão */
#slide1:checked ~ .slides .slide:nth-child(1) { display: block; }
#slide1:checked ~ .slides .slide:nth-child(2) { display: none; }
#slide1:checked ~ .slides .slide:nth-child(3) { display: none; }
#slide1:checked ~ .slides .slide:nth-child(4) { display: none; }
#slide1:checked ~ .slides .slide:nth-child(5) { display: none; }
#slide1:checked ~ .slides .slide:nth-child(6) { display: none; }

#slide2:checked ~ .slides .slide:nth-child(1) { display: none; }
#slide2:checked ~ .slides .slide:nth-child(2) { display: block; }
#slide2:checked ~ .slides .slide:nth-child(3) { display: none; }
#slide2:checked ~ .slides .slide:nth-child(4) { display: none; }
#slide2:checked ~ .slides .slide:nth-child(5) { display: none; }
#slide2:checked ~ .slides .slide:nth-child(6) { display: none; }

#slide3:checked ~ .slides .slide:nth-child(1) { display: none; }
#slide3:checked ~ .slides .slide:nth-child(2) { display: none; }
#slide3:checked ~ .slides .slide:nth-child(3) { display: block; }
#slide3:checked ~ .slides .slide:nth-child(4) { display: none; }
#slide3:checked ~ .slides .slide:nth-child(5) { display: none; }
#slide3:checked ~ .slides .slide:nth-child(6) { display: none; }

#slide4:checked ~ .slides .slide:nth-child(1) { display: none; }
#slide4:checked ~ .slides .slide:nth-child(2) { display: none; }
#slide4:checked ~ .slides .slide:nth-child(3) { display: none; }
#slide4:checked ~ .slides .slide:nth-child(4) { display: block; }
#slide4:checked ~ .slides .slide:nth-child(5) { display: none; }
#slide4:checked ~ .slides .slide:nth-child(6) { display: none; }

#slide5:checked ~ .slides .slide:nth-child(1) { display: none; }
#slide5:checked ~ .slides .slide:nth-child(2) { display: none; }
#slide5:checked ~ .slides .slide:nth-child(3) { display: none; }
#slide5:checked ~ .slides .slide:nth-child(4) { display: none; }
#slide5:checked ~ .slides .slide:nth-child(5) { display: block; }
#slide5:checked ~ .slides .slide:nth-child(6) { display: none; }

#slide6:checked ~ .slides .slide:nth-child(1) { display: none; }
#slide6:checked ~ .slides .slide:nth-child(2) { display: none; }
#slide6:checked ~ .slides .slide:nth-child(3) { display: none; }
#slide6:checked ~ .slides .slide:nth-child(4) { display: none; }
#slide6:checked ~ .slides .slide:nth-child(5) { display: none; }
#slide6:checked ~ .slides .slide:nth-child(6) { display: block; }

/* Estilo dos controles */

/* Destaque para o botão ativo */
#slide1:checked ~ .controls label[for="slide1"],
#slide2:checked ~ .controls label[for="slide2"],
#slide3:checked ~ .controls label[for="slide3"],
#slide4:checked ~ .controls label[for="slide4"],
#slide5:checked ~ .controls label[for="slide5"],
#slide6:checked ~ .controls label[for="slide6"] {
  background: white;
}

#navbar {
  background: linear-gradient(45deg, #ae6027, #a37b5e); /* a cor de fundo tá com gradiante com a cor ae6027, a37b5e */
  background-color: #ae6027; /* Marrom elegante para cabeleireiro */
  padding: 8px; /* a altura está com 15cap */
  overflow: hidden;
  position: sticky;
  top: -50px;
  height: 95px;
  width: 99%;
  padding-right: 5px;
  display: block;
  transition: top 0.3s;
  padding-bottom: 1px;
  transition-duration: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  padding-bottom: 4px;
  transition-duration: top 0.4s;
  transition: 0.4s;
}

#navbar p{
  font-size: xx-large;
  float: right;
  color: #333;
  font-family: "Monsieur La Doulaise", cursive;
  display: inline;
  margin-top: 3px;
  margin-right: 20px;
  transition-duration: top 0.4s;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: white;
  border-radius: 10px;
  color: #ae6027;
  padding-bottom: 15px;
  margin: 2px;
  transition: 0.4s;
  box-shadow: 0 0 30px rgba(199, 69, 19, 0.7);
  transition-duration: top 0.4s;
}

.sobre {
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 0 auto;
}

.desc {
  text-align: justify; 
  max-width: 65%;
  text-align-last: center;
  margin: 0 auto;
}

.env:hover{
  box-shadow: 0 0 30px rgba(199, 69, 19, 0.7);
  transition: 0.3s;
}

@media (min-width: 344px) and (max-width: 1080px){
  body{
    background-color: #333;
    color: white;
    max-width: 100%;
    padding-left: 0px;
    margin-left: 0px;
  }

  header {
  background-color: linear-gradient(45deg, #ae6027, #a37b5e);
  }

  footer {
    background-color: black;
    margin: 10px;
    padding: 10px;
  }
  .services {
    width: 200%;
  }
  .horario {
    width: 100%;
    margin: 100%;
  }
  .slide {
    width: max-content;
  }
    header {grid-area: 1 / span 6;}
  menu {grid-area: 2 / span 1;}
  content {grid-area: 2 / span 4;}
  .capilar, .corte, .color, .mani {grid-area: 2 / span 1;}
  footer {grid-area: 3 / span 6;}
}